@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Lato:wght@100;400;700&family=Poppins:ital,wght@0,700;1,400;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100&display=swap');

$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);
$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-gray: hsl(0, 0%, 86%);
$smoke-gray: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

body {
  box-sizing: border-box;
  font-family: 'Poppins';
}

.flex-row {
  display: flex;
  margin: 5vw;
  margin-bottom: 0;

  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid $light-gray;
    margin: 0;
  }

  button {
    background-color: $purple;
    border: none;
    border-radius: 50%;
    height: 11vw;
    width: 12vw;
    cursor: pointer;
  }

  svg {
    width: 5vw;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
  
  label {
    color: $smoke-gray;
    font-size: 2vw;
    letter-spacing: 0.75vw;
    margin-bottom: 1vw;
  }

  input {
    color: $off-black;
    font-size: 3vw;
    font-weight: 700;
    height: 6vw;
    width: 15vw;
    border: 1px solid $light-gray;
    border-radius: 0.75vw;
    padding-left: 2vw;
  }

  p {
    margin: 5vw;
  }
}

.error {

  display: flex;
  flex-direction: column;
  margin-right: 5vw;

  label {
    color: $light-red;
    font-size: 2vw;
    letter-spacing: 0.75vw;
    margin-bottom: 1vw;
  }

  input {
    font-weight: 700;
    color: $off-black;
    font-size: 3vw;
    font-weight: 700;
    height: 6vw;
    width: 15vw;
    border: 1px solid $light-red;
    border-radius: 0.75vw;
    padding-left: 2vw;
  }

  p {
    color: $light-red;
    font-style: italic;
    font-size: 1.5vw;
  }
}

.divider {
  align-items: center;
  margin: 0;
}

.display-container {
  height: auto;
}

.age {
  font-size: 10vw;
  font-weight: 800;
  font-style: italic;
  height: 5vw;
  
  p {
    margin-right: 1vw;
  }
}

.num {
  color: $purple;
}